[x-cloak] { display: none !important; }

/* Untuk memastikan gradient lebih terlihat */
.bg-light-custom {
    background: #faf2f2;
    background: linear-gradient(
        90deg,
        rgba(250, 242, 242, 1) 9%,
        rgba(225, 240, 242, 1) 100%
    );
}

/* Responsive text price */
@media (max-width: 576px) {
    .price-unit {
        display: block;
        margin-left: 0 !important;
        margin-top: 0.25rem;
    }
}

/* Hanya mempengaruhi dropdown dengan class dropdown-actions */
.dropdown-actions {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    min-width: auto; /* Override lebar default dropdown */
}

.dropdown-actions .actions-container {
    min-width: max-content;
}

.dropdown-actions .btn {
    margin: 0 !important;
    flex-shrink: 0; /* Mencegah tombol menyusut */
}

/* Optional: Atur ukuran tombol dalam dropdown */
.dropdown-actions .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.select2-container {
    width: 100% !important;
}

@media (max-width: 576px) {
  .select2-container {
    font-size: 0.875rem;
  }
}
